{% extends 'mail/base.html.twig' %}

{% block body %}
    Hey {{ username }},<br />
    <br />
    {{ 'mail.user.activation.task'|trans }}<br />
    <br />
    <a href="{{ link }}">{{ link }}</a><br />
    <br />
    {{ 'mail.user.activation.link_broken'|trans }}<br />
{% endblock body %}