{% extends 'mail/base.html.twig' %}

{% block body %}
    Hey {{ username }},<br />
    <br />
    {{ 'to complete this step of your account registration, you need to verify your email address by clicking on the link below. You cannot log in until you successfully activated your account.'|trans }}<br />
    <br />
    <a href="{{ link }}">{{ link }}</a><br />
    <br />
    {{ 'If this link doesn\'t work, try to copy the link into your browser. If this still doesn\'t work, please contact our support: <a href="mailto:help@ohano.me">help@ohano.me</a>'|trans }}<br />
{% endblock body %}